<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
<% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
<%= render :partial => "/shared/head" %>

<body>
  <p><%= link_to "Mobile Site", :mobile => 1 unless true %></p>
  <%= site_bar -%>
  <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <header class="clearfix container">
    <%= render :partial => "/shared/header" -%>
  </header>
  <div class="container" class="clearfix">
    <div class='span-24 last'>
      <div class='span-17 append-1' id='body_container'>
        <%= yield %>
		<div class='span-17 append-1' id='twitter-bar'>Bezig met laden van twitter berichten
		</div>
      </div>
	  <div class='span-5 last' id='banners'>
		<h6>Onze sponsoren</h6>
		<%= link_to image_tag('sauconylogo.jpg', :class => "banner"), "http://www.saucony.nl",
			:target => "_blank"%>
        <%= link_to image_tag('RunninCenterLogo.png', :class => "banner"), "http://www.runenschede.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('SR logo.png', :class => "banner"), "http://www.sportraadut.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('ZeuS logo.png', :class => "banner"), "http://www.studentenatletiek.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('ssn_logo_passend.png', :class => "banner"), "http://www.studentensport.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('Logo UT fonds.png', :class => "banner"), "http://www.utwente.nl/ufonds/",
			:target => "_blank"%>
	  </div>
    </div>
  </div>
  <footer>
    <%= render :partial => "/shared/footer" -%>
  </footer>
    <%= render :partial => "/shared/javascripts" %>
</body>
</html>
