    <%= render :partial => "/shared/header" -%>
  </header>
  <div class="container" class="clearfix">
    <div class='span-24 last'>
      <div class='span-17 append-1' id='body_container'>
        <div id='loading' style='display:none'><img src='/images/spin.gif'></div>
          <%= yield %>
    </div>
	  <div class='span-5 last' id='banners'>
		<h6>Onze sponsoren</h6>
		<%= link_to image_tag('sauconylogo.jpg', :class => "banner"), "http://www.saucony.nl",
			:target => "_blank"%>
        <%= link_to image_tag('RunninCenterLogo.png', :class => "banner"), "http://www.runenschede.nl/", 
			:target => "_blank"%>
			<%= link_to image_tag('trimm.png', :class => "banner"), "http://www.trimm.nl/", 
		:target => "_blank"%>
		<%= link_to image_tag('SR logo.png', :class => "banner"), "http://www.sportraadut.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('ZeuS logo.png', :class => "banner"), "http://www.studentenatletiek.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('ssn_logo_passend.png', :class => "banner"), "http://www.studentensport.nl/", 
			:target => "_blank"%>
		<%= link_to image_tag('Logo UT fonds.png', :class => "banner"), "http://www.utwente.nl/ufonds/",
			:target => "_blank"%>
	  </div>
    </div>
  </div>
